* {
  box-sizing: border-box;
}

html {
  font-size: 17.6px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  text-align: center;
  line-height: 1.5;
  min-width: 320px;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 440px)) 1fr;
  grid-template-rows: minmax(450px, auto) 1fr;
}

.header-container {
  background-image: url(./../images/pexels-photo.png);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  position: relative;
  grid-column: 1/5;
}

.bg-filter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(2px);
  width: 100%;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 440px)) 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
}

.main-title {
  font-size: 2rem;
  padding: 100px 0 0;
  grid-column: 2/4;
  grid-row: 1/2;
}

.text-header {
  padding: 2rem;
  font-weight: bolder;
  grid-column: 2/4;
  grid-row: 2/3;
}

.read-more-link {
  padding: 1rem 2rem;
  text-decoration: none;
  color: inherit;
  border: 0.1px solid #ffffff;
  background-color: #333333;
  grid-column: 2/4;
  grid-row: 3/4;
}

.read-more-link:hover {
  background-color: #eaeaea;
  color: black;
}

main {
  grid-column: 1/5;
}

.section1-center-wrapper {
  background-color: #eaeaea;
  padding-bottom: 2rem;
}

.section1-center-wrapper,
.section2-center-wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 440px)) 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1.5rem 0;
  grid-column: 2/4;
}

.text-section {
  padding: 2rem;
  grid-column: 2/4;
  grid-row: 2/3;
}

.bg-artical {
  background-color: #333333;
  padding: 2rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr minmax(280px, 880px) 1fr;
}

.artical-content {
  display: flex;
  gap: 2rem;
  grid-column: 2/3;
  width: 100%;
}

.artical-title {
  max-width: 270px;
  background-color: #ffffff;
  width: calc((100% - 2 * 2rem) / 3);
}

.photo {
  width: 100%;
  object-fit: cover;
}

.sub-sub-title {
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 2rem;
}

.p-in-artical {
  padding: 0 2rem 2rem;
}

.section2-center-wrapper {
  grid-column: 1/5;
  padding: 2rem 0;
}

.footer-container {
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/5;
}

.contact-footer-title {
  background-color: #2690d4;
  padding: 2rem;
}

.head-footer {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1.5rem 0;
}

.about-footer-title {
  background-color: #333333;
  padding: 2rem;
}

.text-footer {
  padding: 1rem 0;
}

.email-link {
  padding: 1rem 0;
}

@media screen and (max-width: 700px) {
  .header-container {
    min-height: 100vh;
  }

  .header-grid,
  .section1-center-wrapper,
  .section2-center-wrapper {
    padding: 2rem;
  }

  .artical-content {
    display: grid;
    justify-items: center;
  }

  .artical-title {
    max-width: 100%;
    width: 100%;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
